body {
	margin: 0 auto;
	max-width: 1280px;
	max-height: 100vh;
	overflow: hidden;
	font-size: 10px;
	box-sizing: border-box;
	background: black;
}

.wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 100px;
	padding: 100px;
}