.key {
	text-align: center;
	line-height: 50px;
	font-size: 2em;
	border-radius: 3px;
	border: 1px solid rgb(17, 20, 240);

	margin-left: 5px;
	margin-bottom: 5px;
	user-select: none;
	color: #fff;
	text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff;
}

.key-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 50px;
}

.key-half {
	text-align: center;
	line-height: 21.5px;
	font-size: 2em;
	border-radius: 3px;
	border: 1px solid rgb(17, 20, 240);
	width: 50px;
	height: 21.5px;
}

.hidden {
	display: none;
}

.active {
	transform: scale(0.9);
	box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff;
}